
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #0ef;
}
.chronometre {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
    text-align: center;
}
.time {
    margin: auto;
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}
.time span {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
.controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
button {
    background-color: #022739;
    color: #fff;
    width: 31%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    transform: scale(0.9);
}