
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Body {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #0ef;
}
.chronometre {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
    text-align: center;
}
.time {
    margin: auto;
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}
.time span {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;

}